.clearfix {
	*zoom: 1;
}
#options #fancybox-wrap-clone:before,
#options #process:before{
        background:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
        content:"";
        display:inline-block;
        position:fixed;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
}
.clearfix:before,.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}

#blurmask {
	display: none;
	padding: 0px;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	visibility: visible;
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.block-cart {
	font-size: 100%;
}

.block-cart .block-title strong {
	background: url("../images/i_block-cart.png") no-repeat 0 center transparent;
	padding-left: 30px;
	height: 20px;
}

.block-cart .block-title {
	padding: 0 4px 0;
	border-bottom: 1px solid #ddd;
}

.block-cart .block-title strong span {
	vertical-align: middle;
}

.block-cart .summary {
	margin: 0;
	padding: 10px 8px 8px;
}

.block-cart .subtotal {
	background-color: transparent;
	margin-top: 15px;
}

.sm-cartpro .product-details-bottom .price,.block-cart .subtotal .label {
	font-weight: bold;
	/* vertical-align: middle; */
}

.block-cart .actions {
	text-align: center;
	background: #FFF;
	padding: 6px 9px 20px;
}

.block-cart .actions button.button.btn-update {
	margin-right: 0px;
}

.sm-cartpro.block-cart .short-description {
	border-bottom: 1px dashed #CCCCCC;
	margin-bottom: 10px;
	margin-top: 5px;
	padding-bottom: 5px;
}

.sm-cartpro input.qty {
	width: 38px !important;
	height: 38px;
	border: 1px solid #e5e5e5;
	text-align: center;
	float: left;
}

.sm-cartpro span.quantity-controls {
	margin-left: 5px;
	display: inline-block;
	width: 17px;
	line-height: 100%;
}

.mini-cartpro .block-title {
/* 	background: url("../images/icon-cart.png") no-repeat left center transparent;
	padding-left: 20px;
	height: 19px; */
}

.mini-cartpro .block-title .empty,
.mini-cartpro .block-title .summary .subtotal,
.mini-cartpro .block-title .summary .amount {
	text-align: center;
}

.mini-cartpro .block-title .summary .subtotal .label {
	font-weight: bold;
}

.mini-cartpro .block-title .btn-cart-emty,.mini-cartpro .block-title a.btn-toggle{
	/* font-size: 0;
	z-index: 1;
	top: 0;
	right: 0;
	position: absolute; */
}

.mini-cartpro .block-title a.btn-toggle:after {
	/* content: "\f0dd";
	font-family: 'FontAwesome';
	font-size: 22px;
	position: absolute;
	top: 0;
	right: 0;
	color: #909090;
	background: #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	padding: 3px 7px 11px;
	line-height: 96%; */
}

.mini-cartpro .block-title a.btn-toggle.show:after {
	background: #fff;
}

.mini-cartpro .block-title strong {
	background: url("../../resources/images/i_mini-cartpro.png") no-repeat right center transparent;
	padding-right: 30px;
}

.minicartpro {
	margin-right: 0px;
}

.mini-cartpro.block {
	border: none;
}

.mini-cartpro.block.show .summary .amount {
	color: #FFF;
}

.mini-cartpro .block-content {
	overflow: hidden !important;
    position: absolute;
    right: 0;
    top: 95px;
    width: 319px;
    z-index: 998;
	background: #FFF;
	box-shadow:0px 4px 5px rgba(0,0,0,0.45);
}
.header-style-2 .mini-cartpro .block-content{
	top:52px;
}
.mini-cartpro .block-content .actions .more-desc {
	display: inline-block;
	float: left;
	line-height: 38px;
	font-size: 133.3%;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 15px;
}

input.quantity-plus {
	/* width: 17px;
	height: 17px; */
	background: url(../images/btn-plus.png) no-repeat 0 0 #b5b5b5;
	text-indent: -9999em;
	/* padding: 0;
	border: none; */
	cursor: pointer;
	/* margin-bottom: 3px; */
}

input.quantity-minus {
	/* width: 17px;
	height: 17px; */
	background: url(../images/btn-minus.png) no-repeat 0 0 #b5b5b5;
	text-indent: -9999em;
	/* padding: 0;
	border: none; */
	cursor: pointer;
}

.mini-cartpro .block-content .mini-products-list {
	max-height: 265px;
	overflow-y: auto;
}

.mini-cartpro .block-content .mini-products-list li.item {
	padding:20px;
	position:relative;
	border-bottom:1px solid #f0f0f0;
}

.mini-cartpro .block-content .mini-products-list li.item  .detail-right-cart{
	margin-left:90px;
}
.mini-cartpro .block-content .mini-products-list li.item.last {
	border-bottom: none;
	padding-bottom:3px;
}

/* .mini-cartpro .block-content .mini-products-list .product-details {
	margin-left: 95px;
	line-height: 180%;
} */

.mini-cartpro .block-content .mini-products-list .product-details .short-description {
	margin-top: 10px;
}

.mini-cartpro .block-content .mini-products-list .product-image {
	float:left;
}
.rating-container .ratings > a {
    display: inline-block;
    margin-top: -5px;
    vertical-align: top;
}

.rating-container .separator {
    display: inline-block!important;
    vertical-align: top;
    margin: -6px 4px 0px 5px;
    padding: 0;
	color:#909090;
	float:left;
}
.mini-cartpro .block-content .mini-products-list .product-details-bottom {
	display:inline-block;
	width:100%;
	color:#909090;
}

.mini-cartpro .block-content .bottom-action {
	text-align: left;
	white-space: nowrap;
	position: relative;
	padding:10px 0px 20px 0px;
}
.mini-cartpro .block-content .bottom-action .price-total{
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
	padding:9px 20px;
	margin-bottom:20px;
}
.mini-cartpro .block-content .bottom-action .button-wrapper{
	padding:0px 20px;
}
.mini-cartpro .price-total .label-price-total{
	font-size:133.33%;
}
.mini-cartpro .price-total .price-total-w{
	font-size:200%
}
.mini-cartpro .block-content .bottom-action .summary {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 10px;
	top: 14px;
}

.mini-cartpro .block-content .bottom-action .subtotal {
	font-size: 150%;
	color: #FFF;
}

.mini-cartpro .block-content .bottom-action .subtotal .price {
	font-weight: bold;
}

.mini-cartpro .block-content .truncated .show .item-options {
	left: 10%;
	top: 0;
}

.mini-cartpro .block-content .bottom-action .button {
	/* height: 20px;
	position: relative;
	text-indent: -9999em;
	vertical-align: top;
	width: 20px;
	margin-top: 5px;
	padding: 12px 30px !important;
	border-right: 1px solid #cdcdcd; */
}

.mini-cartpro .block-content .bottom-action .btn-gotocart {
	margin-right:3px;
}


.mini-cartpro .block-content .bottom-action .button {
	overflow: visible;
}

.mini-cartpro .block-content .mini-products-list li.item .qty-w .label-qty{
    margin-left: 3px;
	font-size:133.33%;
}
.mini-cartpro .block-content .mini-products-list li.item .qty-w .qty-b{
	border: 1px solid #E5E5E5;
    border-radius: 3px;
    display: inline-block;
    font-size: 116.67%;
    padding: 3px 8px;
}

.mini-cartpro .block-content .mini-products-list li.item a.btn-edit span {
	background: url(../images/minicart-edit.png) no-repeat;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 6px;
	left: 5px;
}

.body-iteminfo {
	float: left;
	text-align: left;
}

.body-iteminfo .product-image {
	float: left;
	margin-right: 10px;
}

.bottom-iteminfo {
	clear: both;
	padding-top: 10px;
}

.price-container,.rating-container .ratings,
.title-desc  ~ strong,
.bottom-iteminfo .ratings {
	vertical-align: middle;
}

.rating-container {
	white-space: nowrap;
	margin-top:-7px;
	margin-bottom:10px;
	display:inline-block;
	width:100%;
}

.price-container .price-box,
.price-container .price-box p,
.rating-container .ratings {
	display: inline-block;
	position: relative;
	line-height: 25px;
}
.mini-cartpro .block-content .mini-products-list li.item .price{
	font-size:183.33%;
	 margin-right: 28px;
}

#minicart-sidebar .qty-w {
    vertical-align: top;
    display: inline-block;
    margin-top: -2px;
}
.rating-container .ratings .amount {
	float: left;
    margin-left: 2px;
    margin-top: -4px;
}
.product-details  .product-name a{
	font-size:133.33%;
}
.product-details  .product-name{
	position:relative;
	padding-right:50px;
	/* margin-bottom:5px; */
}
.product-details  .product-name .btn-edit,
.product-details  .product-name .btn-remove{
	width:20px;
	height:20px;
	overflow:hidden;
	text-indent:-9999px;
	background-repeat:no-repeat;
	display:inline-block;
	position:absolute;
}

.product-details  .product-name .btn-edit{
	background-image:url(../../resources/images/btn-edit-minicart.png);
	background-position:5px 5px;
	top: -2px;
    right: 24px;
}
.product-details  .product-name .btn-edit:hover{
	background-position:5px -83px;
}
.product-details  .product-name .btn-remove{
	background-image:url(../../resources/images/btn-remove-minicart.png);
	background-position:5px 5px;
	right: 0px;
    top: 0px;
}
.product-details  .product-name .btn-remove:hover{
	background-position:5px -85px;
}
.price-container .price-label {
	display: none;
}

#confirmbox .head-iteminfo {
	text-align: center;
}

#zoptions .special-price .price-label {
	font-size: 100%;
}

.mini-cartpro .block-content .bottom-action .subtotal .label,
.mini-cartpro .block-content .actions .more-desc,
#zoptions .old-price .price-label,.mini-cartpro .title-desc,#zoptions .title-desc{
	color: #306790;
}

#zoptions .ratings {
	display: inline-block;
}

#zoptions .price-box {
	margin-bottom: 10px;
	margin-top:5px;
}
#zoptions .price-box > p{
	display:inline-block;
}
#zoptions .price-box .price,
#zoptions .price-box > .special-price .price{
	font-size:200%;
}
#zoptions .price-box > .old-price .price{
	font-size:150%;
}
#zoptions .price-box > .special-price{
	margin-right:5px;
}
label .required {
    float: right;
	color:red;
}
#zoptions {
	BORDER-BOTTOM: 0px inset;
	POSITION: absolute;
	BORDER-LEFT: 0px inset;
	padding: 0;
	height: 20px;
	min-height: 20px;
	height: auto !important;
	DISPLAY: block;
	VISIBILITY: visible;
	BORDER-TOP: 0px inset;
	TOP: 0px;
	BORDER-RIGHT: 0px inset;
	text-align: left;
}

#zoptions #product-shop {
	text-align: left;
}
#zoptions #product-shop .qty-title{
	float: left;
    margin-right: 3px;
}
#zoptions .product-name {
	text-align: left; 
}

#zoptions .product-name>a {
	font-weight: bold;
	margin-left: 5px;
}

#zoptions .product-name h1 {
	font-size: 116.67%;
	font-weight: bold;
	margin-bottom: 10px;
}

#zoptions .price-box .minimal-price-link {
	display: inline-block;
}

#zoptions .add-to-cart {
	float: left;
	margin-right:10px;
}

#options-tab {
	z-index: 99999999999;
	position: fixed;
	padding: 0px;
	background-color: #2564c0;
	display: block;
	height: 0px;
	visibility: visible;
}

#options {
	display: none;
	margin: 0 auto;
	width: 330px;
}

#iffix {
	position: absolute;
	display: block;
	z-index: -1;
	width: 467px;
	height: 320px;
	top: 0;
	left: 0;
	filter: mask();
	background-color: #FFF;
	border: 0px solid white;
}

#loading-mask .loader {
	position: fixed;
	top: 45%;
	left: 41%;
	width: 120px;
	padding: 15px 60px;
	background: #fff4e9;
	border: 2px solid #f1af73;
	color: #d85909;
	font-weight: bold;
	text-align: center;
	z-index: 1000;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	opacity: 0.80;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	/* IE8 */
}

#loadmask {
	opacity: 0.8;
	filter: alpha(opacity = 80);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80 );
	/* IE8 */
}

#loadmask img {
	background: url("../images/ajax-loader-tr.gif") repeat scroll 0 0 transparent;
}

.loader {
	background: none repeat scroll 0 0 #FFF4E9;
	border: 2px solid #F1AF73;
	color: #D85909;
	font-weight: bold;
	padding: 15px 50px;
	text-align: center;
	width: 200px;
	margin-left: 50px;
	position:relative;
    z-index:9999;
}

#btnavi ul {
	list-style: none outside none;
}

#btnavi ul li {
	display: inline-block;
    vertical-align: top;
}

#btnavi ul li:first-child {
	margin-right: 15px;
}

#btccart {
	text-decoration: none;
	display: inline-block;
}
#confirmbox .button.btn-cart > span,
#btcancel,
#btccart > span{
	background: none repeat scroll 0 0 #868686;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    text-align: center;
    white-space: nowrap;
	font-size:116.67%;
}
#btcshop > span {
	background: none repeat scroll 0 0 #868686;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    text-align: center;
    white-space: nowrap;
}
.sm-cartpro.mini-cartpro .actions button.button {
	float: none;
    height: 33px !important;
    line-height: 33px !important;
    padding: 0 22px !important;
}

#btcclose {
	background-color: #609946;
	color: black;
	margin-left: 10px;
	border: 1px solid #3B6E22;
}

#btcshop1,#btccart1 {
	display: block;
	font-size: 10px;
	font-weight: bold;
	height: 38px;
	line-height: 36px;
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
}

#btnavi {
	text-align: center;
	margin-top: 15px;
}

#cdown {
	display: inline;
}

#confirmbox {
	background-color: #FFF;
	border: 2px solid #ccc;
	padding: 20px 10px 15px 10px;
	width: 320px;
	min-height: 70px;
	height: auto !important;
	position: relative;
	z-index: 99999999;
}

#confirmbox p {
	margin: 0 0 5px;
}

#confirmbox p.required {
	margin: 0 0 10px 0;
	padding: 0px;
	color: #EB340A;
}

#options #confirmbox .iteminfo.sm-cartpro .bottom-iteminfo,
#options #confirmbox .iteminfo.sm-cartpro .body-iteminfo{
	display:none;
}

#options #confirmbox .moretext{
	text-align:center;
}

#options #fancybox-outer {
	height: 100%;
	position: relative;
	width: 100%;
	padding: 0;
}

#fancybox-close {
	cursor: pointer;
	position: absolute;
	right: 7px;
	top: 6px;
	font-size:15px;
	z-index: 1103;
}

.fancy-bg {
	border: 0 none;
	height: 20px;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 20px;
	z-index: 1001;
	display: none;
}

#fancy-bg-n {
	/* background-image: url("../images/fancybox-x.png"); */
	left: 0;
	top: -20px;
	width: 100%;
}

#fancy-bg-e {
	/* background-image: url("../images/fancybox-y.png"); */
	background-position: -20px 0;
	height: 100%;
	right: -20px;
	top: 0;
}

#fancy-bg-s {
	/* background-image: url("../images/fancybox-x.png"); */
	background-position: 0 -20px;
	bottom: -20px;
	left: 0;
	width: 100%;
}

#fancy-bg-w {
	/* background-image: url("../images/fancybox-y.png"); */
	height: 100%;
	left: -20px;
	top: 0;
}

#fancy-bg-ne {
	/* background-image: url("../images/fancybox.png"); */
	background-position: -40px -162px;
	right: -20px;
	top: -20px;
}

#fancy-bg-se {
	/* background-image: url("../images/fancybox.png"); */
	background-position: -40px -182px;
	bottom: -20px;
	right: -20px;
}

#fancy-bg-sw {
	/* background-image: url("../images/fancybox.png"); */
	background-position: -40px -142px;
	bottom: -20px;
	left: -20px;
}

#fancy-bg-nw {
	/* background-image: url("../images/fancybox.png"); */
	background-position: -40px -122px;
	left: -20px;
	top: -20px;
}

#confirmbox #product_addtocart_form {
	max-height: 500px;
	overflow-y: auto;
}
/* .top-cart .btn-toggle{display:none!important;} */
/* .top-cart .show-cart-button .amount{
	display:inline-block; width:55px; height:66px;
	background-position:left 1px;
	background-image:url(../images/btn-cart-default.png);
	background-repeat: no-repeat;
	position:relative;
} */
.mini-cartpro:hover .show-cart-button .amount.hv_btnCart,
.mini-cartpro .show-cart-button.show .amount.hv_btnCart{
	background-position: left bottom;
}
.top-cart .show .amount{
	/* background-position: left bottom; */
}
.top-cart  .amount-i a{
	display:inline-block;
	width:27px;
	height:27px;
	text-align:center;
	line-height:27px;
	position:absolute;
	top:-2px;
	left:26px;
	border-radius:50%;
	font-size:100%;
	color:#e5e5e5;
}
.mini-cartpro .block-title {
	float:right;
	position:relative;
	margin-top:-4px;
}
.btn-toggle.show-cart-button {
    padding: 16px 10px 15px 15px;
}
.cursor-cart{cursor:pointer;}
.mini-cartpro .item-options dt,
.mini-cartpro .item-options dd{
	/* display:inline-block; */
	margin-right:5px;
	font-weight:normal;
	clear:none;
}
.mini-cartpro .item-options dd{margin-right:12px; position:relative;}
.mini-cartpro  .truncated{
	margin-bottom: 7px;
    margin-top: 5px;
}
.mini-cartpro  .truncated .price{
	font-size:100%!important;
}
.mini-cartpro .item-options dd:last-child:after{
	content:"";
}
.item-options > dt {
    clear: both;
    float: left;
	margin-right:7px;
}
/* .mini-cartpro .item-options dt:after{
	content:":"
} */
.mini-cartpro .details{
	display:none;
}
.mini-cartpro{ position: relative; z-index: 999999;}
