.postWrapper {
	/* padding: 20px 0; */
	clear: both;
	/* border-top: 1px dashed #e9e9e9; */
}
.postWrapper:first-child{
	padding-top: 0;
	border: none;
}

.postTitle h2 {
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

.postTitle h3 {
	color: #909090;
    font-size: 91.67%;
    margin: 0;
    padding: 5px 0;
}

.postContent {
	text-align: left;
}

.postBookmarks {
	padding-bottom: 10px;
}

.postBookmarks h4 {
	font-size: 12px;
	font-weight: bold;
}

.commentWrapper {
	padding-bottom: 15px;
}

.commentContent {
	padding-bottom: 0px;
}

.commentDetails {
	margin-bottom: 5px;
	padding: 0px;
}

.commentDetails  h4.username {
	display: inline;
}

.postError {
	font-size: 16px;
}

.tags {
	font-weight: bold;
}

.tags UL {
	display: inline;
}

.tags UL LI {
	font-weight: normal;
	display: inline;
	padding-right: 6px;
}

.tags h4 {
	font-size: 12px;
	font-weight: bold;
}

.menu-tags,.menu-categories,.menu-recent {
	/* margin: 5px 9px; */
}

.menu-tags h5,.menu-categories h5,.menu-recent h5 {
	font-size: 11px;
}

.block-blog .menu-tags UL LI {
	display: inline;
	padding: 2px;
	margin-left: 10px;
}

.block-blog .menu-categories UL LI {
	margin-left: 10px;
}

.block-blog .menu-recent UL LI {
	margin-left: 10px;
}

.block-blog .menu-recent UL LI a,
.block-blog .menu-categories UL LI a,
.block-blog .menu-tags UL LI a{
	font-size: 11px;
}

.tag-count-1 {
	font-size: 1em !important;
}

.tag-count-2 {
	font-size: 1.2em !important;
}

.tag-count-3 {
	font-size: 1.4em !important;
}

.tag-count-4 {
	font-size: 1.6em !important;
}

.tag-count-5 {
	font-size: 1.8em !important;
}

.tag-count-6 {
	font-size: 2em !important;
}

.tag-count-7 {
	font-size: 2em !important;
}

.tag-count-8 {
	font-size: 2em !important;
}

.tag-count-9 {
	font-size: 2em !important;
}

.tag-count-10 {
	font-size: 2em !important;
}

.block-blog .head h4 {
	padding-left: 20px;
}

.block-blog .block-title strong {
	background-image: url(../images/icon_blog.png);
	background-repeat: no-repeat;
	padding-left: 21px;
	text-align: left;
}

.postWrapper .poster {
	display: inline;
}

.input-box.aw-blog-comment-area {
	width: 100%;
}

.widget-latest li {
	font-size: 12px;
	padding: 5px 10px;
}

.block-blog .menu-categories {
	margin: 0;
	padding: 5px 9px;
}

A.awblog_current_comment {
	text-decoration: none !important;
	font-weight: bold !important;
}


/*--------------custom--------------*/
.latest-blog-wrap{
	float: left;
}
.latest-blog-wrap .latest-blog-header {
    position: relative;
    z-index: 1;
}
.latest-blog-header .btn-latest-blog {
	float: right;
	width: 57px;
	margin-top: 11px;
	margin-right: -1px;
}
#yt_left .latest-blog-header .btn-latest-blog {
	float: right;
	width: 57px;
	margin-top: 12px;
}
.latest-blog-header .btn-latest-blog > li > a {
	background: #fff;
	padding: 3px 10px;
	color: #e9e9e9;
	float: left;
	font-size: 19px;
	border: 1px solid #e9e9e9;
	width: 28px;
	height: 29px;
}
.latest-blog-header .btn-latest-blog > li:hover > a{
	color: #fff;
	border: 1px solid transparent;
}
.latest-blog-header .btn-latest-blog > li:last-child > a,
.latest-blog-header .btn-latest-blog > li:last-child:hover > a {
	border-left: none;
}
.latest-blog-wrap .item-latest-blog{
	float: left;
	padding: 10px 10px 15px;
	border-bottom: 1px solid #E9E9E9;
	overflow: hidden;
}
#yt_left  .latest-blog-wrap .item-latest-blog:hover{
	background: #f4f4f4;
}
.latest-blog-wrap .carousel-inner{
	border: 1px solid #E9E9E9;
	border-bottom: none;
	margin-top: -1px;
	float: left;
}
.latest-blog-wrap .item-latest-blog .item-lb-image{
	width: 90px;
	height: 120px;
	float: left;
	margin-right: 10px;
}
#yt_wrapper #yt_left .latest-blog-wrap .item-latest-blog .item-lb-image{
	display: none;
}
.latest-blog-wrap .item-latest-blog .item-lb-image > img{
	width: 100%;
}
.latest-blog-wrap .item-latest-blog .item-lb-title{
	font-weight: bold;	
	margin-bottom: 3px;
}
.latest-blog-wrap .item-latest-blog .day{
 	background: url("../images/icon-calender.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 9px;
    height: 17px;
    margin-right: 3px;
    padding-top: 1px;
    text-align: center;
    width: 18px;
    line-height: 200%;
}
.date-blog-left{
	background: none repeat scroll 0 0 #868686;
    color: #fff;
    float: left;
    padding: 9px 5px 5px;
    text-align: center;
    width: 54px;
}
.date-blog-left .d-blog{
	font-size:200%;
	font-weight:bold;
	margin-bottom:5px;
}
.date-blog-left .m-y-blog{
	font-size:100%;
}

.info-blog-w{
	margin-left:65px;
}
.blog-categories .menu-tags{
	padding-top:30px;
}
.blog-list-left .item-bl{
	border-bottom: 1px solid #dcdcdc;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.blog-list-left >li:last-child{
	margin-bottom:0px;
	padding-bottom:0px;
	border:none;
}
.blog-list-left .item-bl .blog-title-link{
	display: inline-block;
    font-family: roboto condensed regular;
    font-size: 116.67%;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-bottom: 13px;
}

.categories-links li.item-cat{
	margin-bottom:9px;
	padding-bottom:10px;
	border-bottom:1px dashed #c9c9c9;
}
.categories-links li:last-child{
	margin-bottom:0px;
}
.categories-links a{
	font-family:roboto condensed regular;
	font-size:116.67%;
}

.blog-tags .tagcloud li{
	display:inline;
	margin-right:5px;
}
.blog-tags .tagcloud li a:after{
	content:",";
}
.blog-tags .tagcloud li:last-child a:after{
	content:"";
}

/* .category-blog .sort-by-wrap,
.category-blog .limiter-wrap,
.blog-index-list .sort-by-wrap,
.blog-index-list .limiter-wrap{
	display:none;
} */
.postWrapper .product-info{
	line-height:20px!important;
}
.postWrapper .product-info .product-name{
	margin-bottom:3px!important;
}
.postWrapper .product-info .info-cat-blog{
	color: #909090;
    font-size: 91.67%;
    margin-bottom: 10px;
}
.postContent .link-comment{

}
.bottom-info-blog ul > li{
	display:inline-block;
}
.bottom-info-blog {
    color: #909090;
    font-size: 91.67%;
	background:url(../images/bg-bottom-info-blog.png) no-repeat top left;
	margin-top:10px;
	padding-top:10px;
}
.info-cat-blog .cat-title{
	margin-right:10px;
}
#blog-list {
    padding-bottom: 25px;
}

.inner-post-wrapper{

}
.detail-blog-post .image-blog-post{
	padding-bottom: 20px;
    padding-top: 23px;
}
.detail-blog-post .image-blog-post img{
	width:auto;
	max-width:100%;
}
.detail-blog-post {
    line-height: 20px;
}
.detail-blog-post  .postWrapper{
	clear:none;
}

.detail-blog-post .postTitle h2{
	font-size:150%;
	font-family:Roboto Condensed Regular;
	font-weight:normal;
	letter-spacing:0.1px;
}

.detail-blog-post .info-cat-blog{
	margin-bottom:20px;
	font-family: roboto condensed light;
}

.inner-post-wrapper .postContent{
	margin-bottom:20px;
	padding-top:20px;
}
.inner-post-wrapper .postContent img{
	width:auto;
	max-width:100%;
}
.detail-blog-post{
	margin-bottom:20px;
}
.detail-blog-post .tags h4{
	display:inline;
	font-size:100%;
}
.detail-blog-post .tags  li a:after{
	content:",";
}
.detail-blog-post .tags  li:last-child a:after{
	content:"";
}

.inner-post-wrapper .select-inner div.selector{
	height:30px!important;
}

.inner-post-wrapper .select-inner div.selector span{
	line-height:27px;
}
.inner-post-wrapper .toolbar .toolbar-inner .sort-by-wrap label,.inner-post-wrapper .toolbar .toolbar-inner .limiter-wrap label,.inner-post-wrapper .toolbar .pagination label,.inner-post-wrapper .sort-by .btn-sortby{
	/* line-height:27px; */
}

#postComment .name-blog-input,
#postComment .email-blog-input{
	float:left;
	width:50%;
	margin-bottom:20px;
}
#postComment .name-blog-input{
	
}
#postComment .email-blog-input{
	
}
.inner-post-wrapper .postTitle h2{

}
#postComment .name-blog-input .input-text,
#postComment .email-blog-input .input-text{
	width:100%;
	border:1px solid #e6e6e6;
}
#postComment #comment{
	border:1px solid #e6e6e6;
}
#postComment .name-blog-input .input-text{
	border-right:none;
}
.inner-post-wrapper .postTitle .guest-post{
	font-family:roboto condensed light;
	font-weight:bold;
	margin-bottom:15px;
}
#postComment label{
	/* font-size:116.67%; */
	/* font-family:Roboto Light; */
	font-weight:normal;
}
#postComment .button-set{
	text-align:left;
	padding-top:15px;
}
#postComment{
	padding-bottom:15px;
	margin-bottom:30px;
	border-bottom:1px solid #e5e5e5;
}
.comment-blog-count{
	margin-bottom:20px;
}
.inner-post-wrapper .toolbar {
	padding-left:10px;
}
#blog-detail .detail-blog-post{
	margin-bottom:30px;
	padding-bottom:20px;
}
.inner-post-wrapper .commentWrapper .commentDetails .username{
	display:block;
	font-weight:bold;
	text-transform: capitalize;
}
.inner-post-wrapper .commentWrapper .commentContent{
	padding:0px 0px 5px;
	
}
.inner-post-wrapper .commentWrapper .date-post{
	color:#909090;
	font-size:91.67%;
}


.inner-post-wrapper .commentWrapper{
	background:url(../images/icon-p-blog.png) no-repeat top left;
	padding-left:80px;
	margin-bottom:20px;
}

.inner-post-wrapper .postWrapper .like-social {
	padding-top:30px;
}