/*
TABLE OF CONTENTS
01 MENU BAR
02 DROP DOWN MENU
03 CONTENT STYLING
04 CONTACT FORM
05 COLORS
*/
/*---------------------------01 MENU BAR------------------------------*/

.css_effect li.sm_megamenu_lv1:hover > div {
    display: block;
}
.sambar{
	position: relative;
}
.sambar a:focus{
	outline: none;
}
.sambar ul li{
    background: none;
    margin: 0;
    padding:0;
    position: relative;
}

.sambar .sambar-inner:before,
.sambar .sambar-inner:after {
	display: table;
	content: '';
	line-height: 0;
}
.sambar .sambar-inner:after {
	clear: both;
}

.sm_megamenu_wrapper_horizontal_menu {
	width:100%;
	margin:0 auto;
	display:block;
	position: relative;
	clear:both;
}

.sm_megamenu_wrapper_horizontal_menu .sambar-inner {
	list-style:none;
	width:100%;	
	padding:0;
}
.sm_megamenu_wrapper_menu_full {
    width: 100%;
    margin:0;
    display:block;
    position: relative;
    z-index:9999;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_menu {
	list-style:none;
	width:940px;
	margin:0px auto 0px auto;
	height:43px;
	padding:0px 20px 0px 20px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li {
	float:left;
	text-align:center;
	position: static;
	padding:0;
	line-height: 100%;
}
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1{
	display:inline-block;
	vertical-align:top;
	float:none;
	border:none;
}
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1:hover > a:after{
	content:"";
	position:absolute;
	bottom:-15px;
	left:0px;
	width:100%;
	height:20px;
}
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1 {
    margin-left: 3px;
}
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1.parent {
    margin-left: 1px;
}
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1:hover > a{
	color:#fff;
}
.layout-web{
	margin-top:-6px!important;
}
.mega-home-item-parent ul li{
	display:block!important;
	border-right:none!important;
	width:100%;
	text-align:left!important;
	border-left:5px solid #C0C0C0;
	margin-bottom:1px!important;
	padding:13px 0 13px 10px!important;
	background:#fff;
}
.mega-home-item-parent ul li:last-child{
	margin-bottom:0px!important;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head .sm_megamenu_description{
	font-size:85.714%;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.fullwidth {
	position: static !important;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_top_actived{
	color:#ffffff!important;
}


.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.open,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_actived {
	/* background:#f7f7f7; */
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_nodrop:hover {
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_nodrop:hover a {
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head .sm_megamenu_title{
	font-size:133.33%;
	text-transform:uppercase;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
	transition:.2s;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li{
	border-right:1px solid #1d1d1d;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li:first-child{
	border-left:1px solid #1d1d1d;
}
.layout-boxed .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li:first-child{
	border-left:none;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1:hover > a{
	color:#fff;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head {
	outline:0;
	color:#a8a8a8;
	padding: 20px 17px;
	height:56px;
	text-decoration:none;
	display:block;
	border-bottom: none;
	position: relative;
	-webkit-transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-o-transition:all 0.3s ease-in-out 0s;
    -ms-transition:all 0.3s ease-in-out 0s;
}
.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head{
	padding-left: 13px;
	color:#fff;
	height:70px;
	line-height:70px;
	padding-top:2px;
}
.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li{
	border:none;
}
/* .header-style-3 .css-1column-parent .css-1column .sm_megamenu_title{
	padding:13px 9px;
} */
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head {
	color:inherit;
}
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head:hover {
	color:#fff;
}
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head{
	height:32px;
	padding:2px 17px;
	border-radius:16px;
	line-height:31px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover a.sm_megamenu_head,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1.sm_megamenu_drop:hover a.sm_megamenu_head:after,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1.sm_megamenu_drop a.sm_megamenu_actived:after {
	text-shadow: none;
	z-index:11;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover div a {
	display:inline;
}

/*----------------------- Right aligned menu item ---------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_right {
	float:right;
	right:0;
	margin-right:0px;
}

/*-----------------------------02 DROP DOWN MENU------------------------------*/
/*-------------------- Left & right aligned common styles ------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth {
	margin:0px auto;
	top: 56px;
	position:absolute;
	text-align:left;
	z-index:9999 !important;
	background-color: #fff;
	display: none;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
}
.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column, 
.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns, 
.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns, 
.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns,
.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns,
.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns,
.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth {
	top:70px;
}
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column, 
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns, 
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns, 
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns,
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns,
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns,
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth {
	top: 40px;
}
.yt-header-under .sm_megamenu_head_item .sm_megamenu_title{
	/* font-size:133.33% !important; */
	/* border-bottom:1px solid #e5e5e5; */
	/* padding-bottom:5px; */
}
/*------------------------------- Drop Downs Sizes --------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column {width: 16.6666666667%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns {width: 33.3333333333%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns{width: 50.0%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns {width: 66.6666666667%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns {width: 83.3333333333%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns {width: 100%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth {
	width: 100%;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns > .sm_megamenu_content{
	margin: 0;
	padding: 20px;
	border: 1px solid #eaeaea;
}
/*---------------------------------- Showing Drop Down on Mouse Hover - Left aligned -----------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_1column, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_2columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_3columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_4columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_5columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_6columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_1column, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_2columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open.sm_megamenu_dropdown_3columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_4columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open.sm_megamenu_dropdown_5columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_6columns {
	top: 56;
	z-index: 99999;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_fullwidth {
	left:21px;
	top:101px;
	display: block;
}
.sm_megamenu_wrapper_menu_full  .sm_megamenu_menu li:hover .sm_megamenu_dropdown_fullwidth {
	left:50%;
	margin-left:-470px;
	top:101px;
	display: block;
}

/*----------------------------------- Showing Drop Down on Mouse Hover - Right aligned --------------------------------- */

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .sm_megamenu_align_right {
	left:auto;
	right:0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_align_right {
	left:auto;
	right:0px;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_right:hover .sm_megamenu_dropdown_fullwidth {
	right:18px;
	top:101px;
}

/*-------------------------------------- Columns Sizes ---------------------------------------- */
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_1,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_3,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_4,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_5,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_6 {
	display:inline;
	float: left;
}




.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_1 {width: 16.6666666667%; padding: 0 15px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2 {width: 33.3333333333%; padding: 0 15px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_3 {width: 50.0%; padding: 0 15px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_4 {width: 66.6666666667%; padding: 0 15px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_5 {width: 83.3333333333%; padding: 0 15px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_6 {width: 100%;padding: 0 0px;}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_1,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_3,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_4,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_5,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_6 {
	text-align:left;
}

/* Use the .sm_megamenu_firstcolumn class for the items that stick to the left edge of the dropdown */
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_1columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_2columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_3columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_4columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_5columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_6columns  > .sm_megamenu_firstcolumn {
	width: 100%;
	padding:20px 0 25px;
}
/***********************************************************/
.bedroom-item-head .sm_megamenu_col_4{
	/* padding-left:0px!important; */ padding-right:30px;
}
.bedroom-item-head .sm_megamenu_col_4 > .sm_megamenu_head_item  {
	display:none;
}
.bedroom-item-head .sm_megamenu_col_4 > .sm_megamenu_content{margin-top:0px!important;}
.bedroom-item-head  .image-static {
    float: left;
    width: 44%;
/* 	margin-right:30px; */
}
.categories-static .sm_megamenu_title{margin-bottom:10px;}
.bedroom-item-head .categories-static {
    float: right;
    width: 51.5%;
}
.bedroom-item-head  .image-static img{width:100%;}
.btn-shop{
	height:55px; line-height:55px;
	display:inline-block!important;
	padding:0 25px!important;
	font-size:128.57%;
	color:#e5e5e5;
	text-transform:uppercase;
	-webkit-transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-o-transition:all 0.3s ease-in-out 0s;
    -ms-transition:all 0.3s ease-in-out 0s;
}

.bedroom-item-head .img-wrap{
	overflow:hidden;
	text-align:center;
	position:relative;
}
.bedroom-item-head .button-wrap{
	position:absolute; 
	bottom:-100px; text-align:center;
	width:100%;
	 -webkit-transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-o-transition:all 0.3s ease-in-out 0s;
    -ms-transition:all 0.3s ease-in-out 0s;
}
.bedroom-item-head .img-wrap:hover .button-wrap{
	bottom:0px;
}
.bedroom-item-head .img-wrap img{
	-webkit-transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-o-transition:all 0.3s ease-in-out 0s;
    -ms-transition:all 0.3s ease-in-out 0s;
}
.bedroom-item-head .img-wrap:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1) ;
	-o-transform: scale(1.1) ;
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	opacity:0.5;
	filter:alpha(opacity = 50);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_5 {
	width: 83.33%; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	padding-left: 30px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_6 {
	width: 100%;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_1,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_3,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_4,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_5,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_6 {
	text-align:left;
}
/* Use the .sm_megamenu_firstcolumn class for the items that stick to the left edge of the dropdown */
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_1column  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_2columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_3columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_4columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_5columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_6columns  > .sm_megamenu_firstcolumn{
	width: 100%;
	/* padding: 30px 28px 30px; */
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_6columns .padding-none{
	padding: 0;
}
/*---------------------------------03 CONTENT STYLING-------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu p,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu ul,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h2,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h3 {
/* 	color:#ffffff; */
/* 	text-align:left; */
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu p {
	margin:0;
/*  	margin-bottom:5px; */
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .strong {
	font-weight:bold;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .italic {
	font-style:italic;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h2, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h3 {
/* 	text-shadow:1px 1px #000000; */
/* 	border-bottom:1px solid #333333; */
/* 	margin-top:7px; */
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h2 {
	font-weight: bold;
	line-height: 100%;
	margin-bottom: 4px;
	/* font-family: roboto light; */
}
.living-rom-item {
    /* padding-bottom: 15px!important; */
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h3 {
/* 	font-weight:600; */
/* 	font-size:14px; */
/* 	margin-bottom:14px; */
/* 	padding-bottom:7px; */
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li div a {
/* 	color: #EEEEEE; */
	text-decoration:none;
	text-shadow:none;
	border:none;
	padding:0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .pusher { 
	/* Use this pucher if you want to give more vertical spacing between your rows of content */
	margin-top:18px;
}

/*---------------------------------- Icon paragraphs --------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .help,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .favorite,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .mail,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .print {
	padding-left:36px;
	margin-bottom:18px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .help {background:url("img/help.png") no-repeat 0px 2px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .favorite {background:url("img/favorite.png") no-repeat 0px 2px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .mail {background:url("img/mail.png") no-repeat 0px 2px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .print {background:url("img/print.png") no-repeat 0px 2px;}

/*------------------------------------------ Images styles ---------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .imgshadow_dark { /* Better style on dark background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #333333;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #000000;
	-webkit-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .imgshadow_light { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #000000;
	-webkit-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:2px 15px 5px 0px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .img_right { /* Image sticks to the right */
	width:auto;
	float:right;
	margin:2px 0px 5px 15px;
}

/*---------------------------------------- Box styles ---------------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .black_box,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .dark_grey_box {
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	background-color:#0A0A0A;
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

/*----------------------------Standard lists styles--------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.list-sub-custom {
	list-style: disc;
	margin-left: 15px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.list-sub-custom li {
	line-height:150%;
	position:relative;
	padding:0;
	margin:0;
	float:left;
	text-align:left;
	width:100%;
	border: none;
	font-size: 166.67%;
	color: #c9c9c9;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.list-sub-custom li a {
	padding:0;
	background: none;
	font-size: 60%;
	margin-left: -15px;
	border-bottom: 1px dashed #c8c8c8;
	padding-left: 15px;
	/*float: left;*/
	display: inline-block;
	width: 100%;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}
.mega-home-item-parent ul li:hover{
	display:block!important;
	border-right:none!important;
	width:100%;
	text-align:left!important;
	border-left:5px solid #C0C0C0!important;
	/* margin-bottom:1px!important; */
	padding:13px 0 13px 10px!important;
	background:#fff!important;
}
/*----------------------------------------- Greybox lists styles -----------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .greybox li {
	background:#0A0A0A;
	border:1px solid #000000;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:131px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .greybox li:hover {
	background:#141414;
	border:1px solid #111111;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}

/*---------------------------------------------- Other lists styles ------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .plus li {
	background: url("../../resources/images/plus_dark.png") left 6px no-repeat;
	margin:0px 0px 4px 0px;
	padding:0px 0px 0px 21px;
	width:109px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .plus li:hover {
	background: url("../../resources/images/plus_dark.png") left 6px no-repeat;
	padding:0px 0px 0px 21px;
	margin:0px 0px 4px 0px;
}

/*-------------------------------------- Social Icons ---------------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.social {
	list-style:none;
	margin:0;
	padding:0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.social li {
	padding-top:5px;
	margin:0 12px 12px 0;
	float:left;
	position:relative;
	display:inline;
	width:32px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.social li img {
	border:none;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.social li:hover {
	padding-top:5px;
	margin:-1px 12px 12px 0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.social li span {
	display:none;
}

/*-------------------------------- 2-Levels Drop Down ----------------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .levels a {
	display:block;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels a {
	display: block;
	width: 10em;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels a.parent,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels a.parent:hover {
	background: url("../../resources/images/drop2_dark.png") right center no-repeat;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li {
	float: left;
	width:150px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li ul { /* second-level lists */
	position: absolute;
	background:#161616;
	border:1px solid #000000;
	top:-23px;
	margin:15px 0px 0px 4px;
	padding:6px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	background: -moz-linear-gradient(top, #161616, #0A0A0A);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#161616), to(#0A0A0A));
	background: -o-linear-gradient(top, #161616, #0A0A0A);
	left: -999em;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li ul ul {
	top:-23px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li:hover ul ul, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li:hover ul ul ul {
	left: -999em;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li:hover ul, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li li:hover ul, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li li li:hover ul {
	left: 142px;
}

/*----------------------------------------04 CONTACT FORM-----------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu #contactForm li{
	text-align: left;
	float: none;
	border: none;
	margin: 0;
}

/*---------------------------------------------05 COLORS----------------------------------------*/
/*--------------------------------------- Black ------------------------------------*/
/*
.sm_megamenu_wrapper_horizontal_menu .sambar-inner {
	background-color:#fff;
}*/
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_black {
	border-bottom: 1px solid #444;
}

/*--------------------------------------- Blue ---------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue {
	background: #014464;
	background: -moz-linear-gradient(top, #0272a7, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
	background: -o-linear-gradient(top, #0272a7, #013953);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue {
	border: 1px solid #015b86;
	border-top: 1px solid #029feb;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue {
	border-bottom: 1px solid #015b86;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue li:hover div a {
	color:#0294da;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue li:hover div a:hover {
	color:#33bcfd;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue li ul li a:hover {
	color:#33bcfd;
}

/*---------------------------------------- Brown --------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown {
	background: #44391e;
	background: -moz-linear-gradient(top, #736033, #382f19);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#736033), to(#382f19));
	background: -o-linear-gradient(top, #736033, #382f19);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown {
	border: 1px solid #5c4c29;
	border-top: 1px solid #a28748;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown {
	border-bottom: 1px solid #5c4c29;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown li:hover div a {
	color:#8b733e;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown li:hover div a:hover {
	color:#bfa670;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown li ul li a:hover {
	color:#bfa670;
}

/*-------------------------------------- Green ------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green {
	background: #3e5718;
	background: -moz-linear-gradient(top, #658c26, #354914);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#658c26), to(#354914));
	background: -o-linear-gradient(top, #658c26, #354914);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green {
	border: 1px solid #52711f;
	border-top: 1px solid #8bc135;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green {
	border-bottom: 1px solid #52711f;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green li:hover div a {
	color:#6f992a;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green li:hover div a:hover {
	color:#a3d158;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green li ul li a:hover {
	color:#a3d158;
}

/*-------------------------------------------- Light Blue --------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue {
	background: #52786b;
	background: -moz-linear-gradient(top, #709e8e, #52786b);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#709e8e), to(#52786b));
	background: -o-linear-gradient(top, #709e8e, #52786b);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue {
	border: 1px solid #608c7d;
	border-top: 1px solid #99b9ae;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue {
	border-bottom: 1px solid #608c7d;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue li:hover div a {
	color:#608c7d;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue li:hover div a:hover {
	color:#99b9ae;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue li ul li a:hover {
	color:#99b9ae;
}

/*----------------------------------------- Orange ----------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange {
	background: #d24900;
	background: -moz-linear-gradient(top, #ff6717, #c14300);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff6717), to(#c14300));
	background: -o-linear-gradient(top, #ff6717, #c14300);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange {
	border: 1px solid #f45500;
	border-top: 1px solid #ff945b;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange {
	border-bottom: 1px solid #f45500;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange li:hover div a {
	color:#f45500;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange li:hover div a:hover {
	color:#ff945b;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange li ul li a:hover {
	color:#ff945b;
}

/*------------------------------------------ Pink ------------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink {
	background: #910045;
	background: -moz-linear-gradient(top, #d50066, #80003d);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d50066), to(#80003d));
	background: -o-linear-gradient(top, #d50066, #80003d);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink {
	border: 1px solid #b30055;
	border-top: 1px solid #ff1a87;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink {
	border-bottom: 1px solid #b30055;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink li:hover div a {
	color:#e6006d;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink li:hover div a:hover {
	color:#ff4da1;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink li ul li a:hover {
	color:#ff4da1;
}

/*------------------------------------ Purple -----------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple {
	background: #6a5f71;
	background: -moz-linear-gradient(top, #8c8094, #615867);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8c8094), to(#615867));
	background: -o-linear-gradient(top, #8c8094, #615867);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple {
	border: 1px solid #7b6f83;
	border-top: 1px solid #ada5b3;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple {
	border-bottom: 1px solid #7b6f83;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple li:hover div a {
	color:#7b6f83;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple li:hover div a:hover {
	color:#ada5b3;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple li ul li a:hover {
	color:#ada5b3;
}

/*------------------------------------------------- Red --------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red {
	background: #830701;
	background: -moz-linear-gradient(top, #d70b02, #830701);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d70b02), to(#830701));
	background: -o-linear-gradient(top, #d70b02, #830701);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red {
	border: 1px solid #a40802;
	border-top: 1px solid #fd190f;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red {
	border-bottom: 1px solid #a40802;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red li:hover div a {
	color:#d60a03;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red li:hover div a:hover {
	color:#fd5953;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red li ul li a:hover {
	color:#fd5953;
}
.sm_megamenu_icon {
    display: block;
	background:none!important;
}
.header-style-2 .sm_megamenu_icon {
    display: inline-block;;
}

.header-style-2 .yt-main-menu .icon-item-menu {
    position: absolute;
    right: 0px;
    top: -26px;
}
.yt-header-under .icon-item-menu {
    position: absolute;
    right: 0px;
    top: -21px;
}
.header-style-3 .yt-header-under .icon-item-menu{
	top:0px;
}
.icon-item-menu img:hover{
	box-shadow:none;
}
.sm_megamenu_title .sm_megamenu_icon{
	line-height: 100%;
}
.sm_megamenu_title .sm_megamenu_icon > span {
    margin-left: 30px;
}
.sm_megamenu_lv1 .sm_megamenu_nodesc  .sm_megamenu_title {
	line-height: 100%;
}
.sm_megamenu_description{
	display:block;
    padding: 5px 0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  li div div.sm_megamenu_title{
    font-size: 150%;
    text-transform: uppercase;
	margin-bottom:5px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content {
/* 	line-height: 180%; */
	margin-top: 6px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content .sm_megamenu_head_button {
	background: url("../../resources/images/bt.png") no-repeat scroll 0px 0px transparent;
	padding:4px 10px 3px;
	display:block;
    text-decoration: none;
	color:#305f8e;
	height:26px;
	float:right;
	padding-right:30px;
	text-shadow:none;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content .sm_megamenu_head_button:hover {
	background: url("../../resources/images/bt_hover.png") no-repeat scroll 0px 0px transparent;
	padding:4px 10px 3px;
	display:block;
    text-decoration: none;
	color:#e25203;
	height:26px;
	float:right;
	padding-right:30px;
	text-shadow:none;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content ul{
	margin:0;
}
.sm_megamenu_align_right{
    text-align: right;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
	overflow: hidden; 
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu {
	display: block; 
	padding-right:80px;
}
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu {
	padding-right:0px;
	text-align:right;
}
/*css for button*/
.sambar .sambar-inner .btn-sambar {
	background:#fff;
	color: #FFFFFF;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px 7px;
	display: none;
}

.sambar .sambar-inner .btn-inner {
	background: #08c;
	width: 100%;
	padding: 7px 0;
	float: left;
}

.sambar .btn-sambar .icon-bar {
	background-color: #0A263C;
	display: block;
	height: 2px;
	margin:2px 0;
	width: 18px;
}

/*------------content blog-----------------*/
.mg-menu-image{
	margin-left: -10px;
}
.mg-menu-image .mg-menu-image-item{
	float: left;
	width: 20%;
	border-left: 10px solid transparent;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.mg-menu-image .mg-menu-image-item img {
    width: 100%;
}
.mega-bestsale .list-items .item{
	padding: 20px 0;
	float: left;
	width: 100%;
}
.mega-bestsale .list-items .item.first{
	border-bottom: 1px dashed #C8C8C8;
	padding-top: 0;
}
.mega-bestsale .list-items .item .product-image{
	float: left;
}
.mega-bestsale .list-items .item .item-box-content{
	margin-left: 90px;
}
.mega-bestsale .list-items .item .price-wrapper{
	font-weight: bold;
	font-size: 116.7%;
	line-height: 100%;
	margin-bottom: 8px;
}
.mega-bestsale .list-items .item .review-wrapper{
	font-size: 91.6%;
}
.mega-bestsale .list-items .item .review-wrapper .rating-box{
	margin-bottom: 10px;
}
.mega-bestsale .list-items .item .review-wrapper .rating-links{
	line-height: 120%;
}


.re-width {
    width: 81.1% !important;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1.parent > a{
	position:relative;
	padding-right:38px;
}
.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1.parent > a{
	padding-right:34px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1.parent > a:before{
	content:"";
	background-image:url("../../resources/images/dropdown-icon.png");
	background-repeat:no-repeat;
	width:9px;
	height:5px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-2px;
}
.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1.parent > a:before{
	background-image:url(../../resources/images/dropdown-icon-h3.png);
	background-position:left bottom;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1.parent:hover a:before,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1.parent.sm_megamenu_actived a:before{
	background-position:left bottom;
}

.shop-item-parent > div,
.men-item-parent > div {
    width: 420px !important;
}

/* @media (min-width: 992px) and (max-width: 1199px) {
	.header-style-2 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1.parent > a{
		padding-right: 29px!important;
	}
} */
@media all and (max-width: 767px) {
	.sm_megamenu_wrapper_horizontal_menu .sambar-inner {
		box-shadow: none;
		list-style: none outside none;
		margin: 30px auto 0;
		padding: 0;
		width: 100%;
	}
	.sambar .sambar-inner .btn-sambar {
		display: block;
		clear: both;
		margin: 7px;
	}
	.yt-header-under .sambar .sambar-inner .btn-sambar + .sm_megamenu_menu{
	   display: none;
	   width: 100%;
	   float:left;	   
	}
	.sambar .sambar-inner .btn-sambar.open + .sm_megamenu_menu{
       display: block;
    }
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li {
		width: 100%;
		border-top: 1px solid #fff;
		position: relative;
		overflow: hidden;
	}

	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .sm_megamenu_align_right .sm_megamenu_right {
		position: relative;
	}	
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li > div > div {
		box-shadow: none;
	}	
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth {
		position: static;
		float: left;
		height: 0;
		width: 100%;
	}
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover > .sm_megamenu_dropdown_1column, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_2columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_3columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_4columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_5columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_6columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_fullwidth ,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open > .sm_megamenu_dropdown_1column, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_2columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_3columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_4columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_5columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_6columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_fullwidth {
		height: auto;	
	}
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_1,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_3,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_4,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_5,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_6 {
		width: 98%;
	}	
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head {
		padding: 4px 10px;
	}
}
/************************************************************************************************************************************************/
